@model MyBlog.EntityFramework.Concrete.Category
@using FrameworkCore.CrossCuttingConcerns.Security
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminBaseLayout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-sm-4">
            @Html.Label("Kategori Adı:") <br /><br />
            @Html.Label("Kategori Id:")<br /><br />
            @Html.Label("En son düzenleyen kullanıcı:")<br /><br />
            @Html.Label("Düzenleme Tarihi:")<br /><br />
            @Html.Label("Oluşturma Tarihi:")<br />
        </div>
        @using (Html.BeginForm())
        {
            <div class="col-sm-12">
                @if (HttpContext.Current.User.Identity.IsAuthenticated == true)
                {
                    Identity identity = (Identity)HttpContext.Current.User.Identity;

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "txt-danger" })

                    <div>
                        @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control", @id = "deneme" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div> <br />
                    @Html.TextBoxFor(model => model.ModifiedUsername, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @Value = identity.Name.ToString() })<br />
                    @Html.TextBoxFor(model => model.ModifiedOn, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @Value = @DateTime.Now.ToString() })<br />
                    @Html.TextBoxFor(model => model.CreatedOn, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @Value = @DateTime.Now.ToString() })<br />
                    <button type="submit" class="btn btn-success">Oluştur</button>
                    if (@ViewBag.result != null)
                    {
                        <p>@ViewBag.result</p>
                    }
                }

            </div>



        }

    </div>
</div>
