@using FrameworkCore.CrossCuttingConcerns.Security;
@model User
@{
    /**/

    ViewBag.Title = "Profile";

}
<!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="form" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Profil </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.Label("Adı:")<br />
                            @Html.Label("Soyadı:")<br />
                            @Html.Label("Kullanıcı Adı:")<br />
                            @Html.Label("Parola:")<br />
                            @Html.Label("Eposta:")<br />
                            @Html.Label("Aktif mi?:")
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(u => u.Name, new { id = "name" })
                            @Html.TextBoxFor(u => u.Lastname, new { id = "lname" })
                            @Html.TextBoxFor(u => u.Username, new { id = "uname", required = "required", name = "uname" })
                            @Html.TextBoxFor(u => u.Password, new { @type = "password", id = "pass" })
                            @Html.TextBoxFor(u => u.Email, new { id = "email" })
                            @Html.CheckBoxFor(u => u.IsActive, new { id = "isactive" })
                            @Html.TextBoxFor(u => u.ActivateGuid, new { id = "guid" })

                            @if (@ViewBag.Success != null)
                            {
                                @ViewBag.Success
                            }
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button id="save" type="submit" class="btn btn-primary edit_data">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
